@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MascotsRUsExtranet.Models.RentalItem

<div class="row">
    <div class="col-md-4">
        <h2>New Rental Item</h2>
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>